@charset "UTF-8";
@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

html,
body {
  width: 100%;
  color: #000;
  font-size: 16px;
  line-height: 1.8;
  font-family: "Noto Sans JP", sans-serif;
  text-size-adjust: 100%;
  letter-spacing: 0.1em; }

a {
  color: #000;
  text-decoration: none;
  transition: .3s; }

a:hover {
  border-bottom: 2px solid #fff;
  font-weight: 900;
  transition: .1s; }

img {
  width: 100%;
  vertical-align: bottom; }

.l-header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  animation: SlideIn .7s; }

.l-main {
  width: 100%; }

.l-footer {
  box-sizing: border-box;
  width: 100%;
  height: 60px; }

.c-hero {
  background-image: url("../image/hero.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .c-hero-title {
    animation: SlideIn .7s;
    box-sizing: border-box;
    font-size: 38px;
    color: #fff;
    font-weight: 900;
    display: block;
    background-color: rgba(100, 100, 100, 0.85);
    width: 240px;
    height: 140px;
    text-align: center;
    padding: 10px 15px; }

.c-container {
  margin-top: 30px;
  text-align: center;
  width: 980px;
  margin-right: auto;
  margin-left: auto; }
  @media screen and (max-width: 414px) {
    .c-container {
      width: 100%; } }
  @media screen and (max-width: 768px) {
    .c-container {
      width: 100%; } }
  .c-container-title {
    font-size: 38px;
    font-weight: 900; }

.c-portfolio-link {
  color: rgba(100, 100, 100, 0.85); }

.c-portfolio-link:hover {
  border-bottom: 2px solid #000;
  color: #000; }

.p-header {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  transition: .3s; }
  .p-header .title {
    font-size: 30px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: bold;
    color: #fff; }
  .p-header.float-active {
    transition: .3s;
    background: rgba(100, 100, 100, 0.9); }
  @media screen and (max-width: 414px) {
    .p-header {
      height: 60px;
      padding-right: 15px;
      padding-left: 15px; } }

.p-menu-trigger {
  display: none;
  transition: all .4s;
  box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 32px;
  z-index: 3; }
  @media screen and (max-width: 414px) {
    .p-menu-trigger {
      display: inline-block; } }
  .p-menu-trigger span {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    transition: all .3s;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #9c9c9c;
    border-radius: 4px; }
    .p-menu-trigger span:nth-of-type(1) {
      top: 0; }
    .p-menu-trigger span:nth-of-type(2) {
      top: 14px; }
    .p-menu-trigger span:nth-of-type(3) {
      bottom: 0; }
  .p-menu-trigger.active span:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg); }
  .p-menu-trigger.active span:nth-of-type(2) {
    opacity: 0; }
  .p-menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-15px) rotate(45deg); }

@media screen and (max-width: 414px) {
  .p-menu-nav {
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    background: rgba(100, 100, 100, 0.85);
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    transition: .5s; }
    .p-menu-nav.active {
      transition: .5s;
      transform: translateX(-100%);
      z-index: 2; } }

.p-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 24px;
  font-family: "Noto Sans JP", sans-serif; }
  .p-menu-item {
    margin-right: 20px; }
  .p-menu-link {
    color: #fff;
    font-weight: bold; }
  @media screen and (max-width: 414px) {
    .p-menu {
      display: block;
      font-size: 30px; }
      .p-menu-item {
        margin-right: initial; }
      .p-menu-link {
        display: block;
        padding: 15px;
        text-align: center; } }

@media screen and (max-width: 414px) {
  .p-about {
    opacity: 0;
    transform: translate(0, 50px);
    transition: all .6s ease-out; } }

.p-prof {
  box-sizing: border-box;
  display: flex;
  align-items: center; }
  .p-prof-text p {
    text-align: left; }
  @media screen and (max-width: 414px) {
    .p-prof {
      display: block;
      margin-left: auto;
      margin-right: auto; } }
  .p-prof-img {
    margin-right: auto;
    margin-left: auto;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 250px;
    margin-bottom: 15px; }
    .p-prof-img-container {
      width: 100%; }
  .p-prof-text {
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f6f5f4;
    width: 70%;
    padding: 20px;
    box-sizing: border-box; }
    @media screen and (max-width: 414px) {
      .p-prof-text {
        width: 100%; } }

.p-panel-group {
  width: 100%; }
  .p-panel-group-flex {
    display: flex;
    flex-wrap: wrap; }

.p-panel {
  border: 4px solid #f6f5f4;
  border-radius: 4px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  background: #fff;
  position: relative;
  transition: .5s; }
  .p-panel-title {
    font-size: 24px;
    padding: 15px 0; }
  .p-panel-hover {
    display: inline-block;
    transition: .5s; }
    .p-panel-hover:hover {
      transform: scale(1.03);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      transition: .5s;
      border: 4px solid #f6f5f4; }
  .p-panel-body {
    border-radius: 4px;
    margin-bottom: 10px;
    overflow: hidden;
    height: 200px; }
  .p-panel-foot {
    padding: 10px; }
    .p-panel-foot p {
      text-align: left; }
  .p-panel-portfolio {
    width: calc(33.3% - 20px); }
    @media screen and (max-width: 414px) {
      .p-panel-portfolio {
        width: 100%;
        margin-right: auto;
        margin-left: auto; } }
  .p-panel-skill {
    width: calc(50% - 20px); }
    @media screen and (max-width: 414px) {
      .p-panel-skill {
        width: 100%;
        margin-right: auto;
        margin-left: auto; } }

.p-contact {
  box-sizing: border-box; }
  .p-contact-item {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    background-color: #f6f5f4;
    width: 60%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px; }
  .p-contact-link {
    font-size: 30px;
    font-weight: 900; }
    .p-contact-link:hover {
      border-bottom: 2px solid #000; }

.p-footer {
  box-sizing: border-box;
  background-color: rgba(100, 100, 100, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px; }

.slide-top {
  opacity: 0;
  transform: translate(0, -20px);
  transition: all 1s ease-out; }

/* 下からフェードイン */
.slide-bottom {
  opacity: 0;
  transform: translate(0, 50px);
  transition: all 1s ease-out; }

/* 左からフェードイン */
.slide-left {
  opacity: 0;
  transform: translate(-20px, 0);
  transition: all 1s ease-out; }

/* 右からフェードイン */
.slide-right {
  opacity: 0;
  transform: translate(70px, 0);
  transition: all 1s ease-out; }
